.leaflet-label-pane { z-index: 650; }

.leaflet-label {
    background: white;
    background-clip: padding-box;
    border-color: #222;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #111;
    display: block;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1px 6px;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 6;
    box-sizing: border-box;
}

.leaflet-label.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
}

.leaflet-label:before,
.leaflet-label:after {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    content: none;
    position: absolute;
    top: 4px;
}

.leaflet-label:before {
    border-right: 7px solid black;
    border-right-color: inherit;
    left: -7px;
}

.leaflet-label:after {
    border-left: 7px solid black;
    border-left-color: inherit;
    right: -14px;
}

.leaflet-label-top:after,
.leaflet-label-top:before,
.leaflet-label-bottom:after,
.leaflet-label-bottom:before {
    left: -49%; /* IE8 fallback */
    /* Calc include 1 px of border and half of the 6px of tip size  */
    left: calc(-50% + 1px);
    position: relative;
    top: 27px;
}
.leaflet-label-top:after,
.leaflet-label-top:before {
    border-top-color: #222;
}

.leaflet-label-bottom:after,
.leaflet-label-bottom:before {
    border-bottom-color: #222;
    top: -27px;
}
.leaflet-label-top:before {
    display: none;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.leaflet-label-top:after {
    content: ' ';
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.leaflet-label-bottom:before {
    display: none;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.leaflet-label-bottom:after {
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}

.leaflet-label-bottom:after,
.leaflet-label-top:after,
.leaflet-label-right:before,
.leaflet-label-left:after {
    content: "";
}
